In [1]:
#Import Necessary Library's
import pandas as pd
import json
from pathlib import Path

In [2]:
#Import Data
data_folder = Path("./Data/")

In [3]:
HappinessFile = data_folder / "2019 Happiness Data.csv"

#Import Data to Pandas DataFrame
happinessDF = pd.read_csv(HappinessFile)
happinessDF2 = happinessDF.drop(happinessDF.columns.difference(["Country or region", "Score"]), 1)
happinessDF2.rename(columns = {"Score": "Happiness Score", "Country or region": "Country Name"}, inplace = True)
happinessDF2.set_index("Country Name", inplace = True)

In [4]:
#Import Data
FreedomFile = data_folder / "economic_freedom_index2019_data.csv"

#Import Data to Pandas DataFrame
economicFreedomDF = pd.read_csv(FreedomFile,encoding='latin-1')
economicFreedomDF = economicFreedomDF.dropna(subset=["World Rank"])
economicFreedomDF2 = economicFreedomDF.drop(economicFreedomDF.columns.difference(["Country Name","2019 Score", "GDP (Billions, PPP)", "GDP per Capita (PPP)","Financial Freedom", "Population (Millions)", "Unemployment (%)", "Inflation (%)"]), 1)
economicFreedomDF2.set_index("Country Name", inplace = True)

In [5]:
df = happinessDF2.join(economicFreedomDF2, on = 'Country Name', how = "inner")
df

,Happiness Score,2019 Score,Financial Freedom,Population (Millions),"GDP (Billions, PPP)",GDP per Capita (PPP),Unemployment (%),Inflation (%)
Country Name,,,,,,,,
Finland,7.769,74.9,80.0,5.5,$244.00,"$44,333",8.6,0.8
Denmark,7.600,76.7,80.0,5.7,$286.80,"$49,883",5.7,1.1
Norway,7.554,73.0,60.0,5.3,$380.00,"$71,831",4.2,1.9
Iceland,7.494,77.1,70.0,0.3,$17.60,"$51,842",2.8,1.8
Netherlands,7.488,76.8,80.0,17.1,$916.10,"$53,635",4.8,1.3
...,...,...,...,...,...,...,...,...
Malawi,3.410,51.4,50.0,19.2,$22.40,"$1,167",5.9,11.5
Rwanda,3.334,71.1,40.0,11.8,$24.60,"$2,080",1.3,4.8
Tanzania,3.231,60.2,50.0,50,$162.20,"$3,240",2.2,5.3
Afghanistan,3.203,51.5,10.0,35.5,$69.60,"$1,958",8.8,5.0
Central African Republic,3.083,49.1,30.0,5,$3.40,$677,6,3.8

Below is the old way we were importing data. Keeping it in case new way does not work.

In [ ]:
#fileName = "./Data/2019 Happiness Data.csv"
#happinessDF = pd.read_csv(fileName) 

#fileName = "./Data/economic_freedom_index2019_data.csv"
#economicFreedomDF = pd.read_csv(fileName,encoding='latin-1')


#json_file = open("countries.geo.json", "r")
#countries_geojson = json.load(json_file)

#json_file = open("factbook-country-profiles.json", "r")
#factbook = json.loads(json.dumps("factbook-country-profiles.json"))

In [ ]:
factbook-country-profiles.json = factbook-country-profiles.json.replace("\'", "\"")
json_file = open("factbook-country-profiles.json", "r")
factbook = json.load(json_file)

In [ ]:
factbook = json.loads(json.dumps("factbook-country-profiles.json"))

In [ ]:
String exampleRequest = FileUtils.readFileToString(new File("exampleJsonRequest.json"), StandardCharsets.UTF_8);
factbook

In [ ]:
json.load(json_file)